mmcv>=0.2.10
numpy
matplotlib
six
terminaltables
pycocotools
torch>=1.1
torchvision
imagecorruptions
albumentations>=0.3.2
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability